dipy==1.8.0
scikit-image
plumbum
pynrrd
pandas
matplotlib
# Optional: rich (for prettified colored logging output)
# If not installed, standard logging will be used automatically
# rich
git+https://github.com/pnlbwh/conversion.git
